fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    font-family: 'Poppins', sans-serif
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.header_bg {
    height: 500px;
}
.header_bg .bg{
    width: 100%;
    height: 500px;
}
.header_nav{
    background: rgba(0, 0, 0, 0.63);
    padding: 54px 0px;
    border-bottom: 2px solid #25ae88;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 99;
    
}
.home{
    margin-left: 200px;
    display: inline-block;
}

.home li{
    display: inline-block;
}
.home .item{
    padding: 4px 14px;
    
}
.home .item a{
    font-weight: 500;
    color: white;
    text-decoration: none;
    position: relative;
}
.home .item1{
    background: 25ae88;
}
.header_nav .button_right{
    position: absolute;
    display: flex;
    left: auto;
    right: 0;
    margin-left: 0;
    width: auto;
    top: 60px;
    margin-right: 10px;
}
.header_nav .button_right a {
    text-decoration: none;
    padding: 20px;
    color: white;
    margin-right: 11px;
}
.header_nav .logo{
    margin-left: 10px;
}
.button_right .btn-1{
    background: #556080;
}
.button_right .btn-2{
    background: #7fabda;
}
.button_right .btn-3{
    background: #25ae88;
}
.title{
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    color: white;
    top: -230px;
}
.title h2{
    font-size: 72px;
    font-weight: 600;
    
}
/*About intro */
.about_intro{
    padding-top: 110px;
    padding-bottom: 110px;
}
.about_intro .container{
    max-width: 1175px;  
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.about_title{
    margin-bottom: 87px;
    text-align: center;
    position: relative;
}
.about_title h2{
    font-size: 48px;
    font-weight: 600;
    padding-bottom: 18px;
}
.about_title::after{
    position: absolute;
    content: "";
    width: 110px;
    height: 3px;
    left: 50%;
    bottom: 0;
    margin-left: -55px;
    background: #25ae88;
}
.row{
    display: flex;
}