html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    font-family: 'Poppins', sans-serif
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html{
    scroll-behavior: smooth;
}
.header_bg {
    height: 500px;
}
.header_bg .bg{
    width: 100%;
    height: 500px;
}
.header_nav{
    background: rgba(0, 0, 0, 0.63);
    padding: 54px 0px;
    border-bottom: 2px solid #25ae88;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 99;
    
}
.home{
    margin-left: 300px;
    display: inline-block;
}

.home li{
    display: inline-block;
}
.home .item{
    padding: 4px 14px;
    
}
.home .item a{
    font-weight: 500;
    color: white;
    text-decoration: none;
    position: relative;
}

.home .active{
    background:#556080;
}
.header_nav .button_right{
    position: absolute;
    display: flex;
    left: auto;
    right: 0;
    margin-left: 0;
    width: auto;
    top: 60px;
    margin-right: 10px;
}
.header_nav .button_right a {
    text-decoration: none;
    padding: 20px;
    color: white;
    margin-right: 11px;
}
.header_nav .logo{
    margin-left: 10px;
}
.button_right .btn-1{
    background: #556080;
}
.button_right .btn-2{
    background: #7fabda;
}
.button_right .btn-3{
    background: #25ae88;
}
.title{
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    color: white;
    top: -230px;
}
.title h2{
    font-size: 72px;
    font-weight: 600;
    
}
.best_services{
    padding-top: 110px;
    padding-bottom: 110px;
}
/* .container_services{
    width: 1175px;
} */
.about_title{
    margin-bottom: 87px;
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.about_title h2{
    font-size: 48px;
    font-weight: 600;
    padding-bottom: 18px;
}
.about_title::after{
    position: absolute;
    content: "";
    width: 110px;
    height: 3px;
    left: 50%;
    bottom: 0;
    margin-left: -55px;
    background: #25ae88;
}
.best_services{
    padding-top: 110px;
    padding-bottom: 110px;
}
.main_circle{
    width: 360px;
    height: 360px;
    text-align: center;
    border: 3px solid #25ae88;
    border-radius: 50%;
   position: relative;
    left: 40%;
}
.main_circle img{
    position: relative;
    top:20%
}
/* Pricing_section */
.pricing_section{
    padding-top: 110px;
    padding-bottom: 110px;
    background-image: url("../img/services/pattern.png.webp");
}
.container_pricing{
    margin-left: 180px;
    margin-right: 180px;

}
.about_title1{
    margin-bottom: 87px;
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;
}
.about_title1 h2{
    font-size: 48px;
    font-weight: 600;
    padding-bottom: 18px;
}
.about_title1::after{
    position: absolute;
    content: "";
    width: 110px;
    height: 3px;
    left: 50%;
    bottom: 0;
    margin-left: -55px;
    background: #25ae88;
}
.header{
    background: #25ae88;
    padding: 50px 20px 70px;
}
.header h4{
    font-weight: 600;
    color: #fff;
    margin-bottom: 5px
}
.header h5 span{
    font-size: 12px;
    font-weight: 400;
}
.header h5{
    font-size: 48px;
    font-weight: 600;
    color: #fff;
}
.detail{
    background: #fff;
    padding-bottom: 60px
}
.detail ul{
    padding-top: 30px;
    padding-bottom: 50px;
    list-style: none;
    text-align: center;
}
.detail ul li{
    font-size: 14px;
    color: #7c7c7c;
    font-weight: 500;
    margin-bottom: 12px
}
.row{
    display: flex;
    justify-content: center;
}
.item{
    padding: 50px;
   
}
.add_section
{
    padding-top: 180px;
    padding-bottom: 180px;
}
.row1 img {
    width: 80%;
}
.container_add{
    margin-left: 180px;
    margin-right: 180px;

}
.panel{
   
    position: relative;
    width: 100%;
    text-align: center;
    padding: 10px;
    font-size: 14px;
    font-weight: 500;
    background: #25ae88;
    color: #fff;
    cursor: pointer;
    border: none;
    min-height: 50px;
    width: 400px;
}
.sum{
    position: absolute;
    min-height: 69px;
    width: 60px;
    background-color: #556080;
    top: 0%;
    left: 100%;
}
.right{
    margin-left: 10px;
}
.content{
    margin-bottom: 20px;
}
.row1{
    display: flex;
    justify-content: center;
}
/* Footer */
.footer{
    
    background: #1f2430;
    padding-top: 127px;
    padding-bottom: 50px;
}
.footer_container{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.row{
    display: flex;
}
.row .item{
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.row .item .footer_sub_item
{
    margin-bottom: 35px;
}
.item .footer_sub_item img{
    margin-bottom: 60px;
}
.item .footer_sub_item p{
    color: #fff;
    opacity: .55;
    margin-bottom: 16px;
}
.footer_sub_item .social_link{
    padding-top: 50px;
}
.footer_sub_item .social_link a{
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    margin-right: 30px;
}
.footer_sub_item .ft_title{
    color: #fff;
    font-weight: 400;
    margin-bottom: 55px;
    padding-top: 20px;
}
.footer_sub_item h5{
    font-size: 18px;
}
.footer_sub_item ul li a{
    font-size: 14px;
    color: #fff;
    opacity: 0.55;
    text-decoration: none;
}
.footer_sub_item ul li {
    margin-bottom: 10px;
}